body{
    background-color: rgb(117, 110, 110);
}
h1{
    color: rgb(70, 70, 153);
}
h2{
    color: rgb(70, 70, 153);
}
a{
    color: rgb(214, 19, 19);
}
span{
    color: rgb(195, 209, 70);
    font-weight: bold;
}
.inline-block{
    overflow: hidden;
    display: inline-block;
}
div > p > img{
    width: 400px;
    height: 200px;
}
p > a > img{
    height: 80px; 
    width: 100px;
    margin-left: 10px;
}